.root {
  li {
    display: inline-block;

    a {
      display: inline-block;
      color: #2b577a;
      text-align: center;
      justify-content: center;
      align-self: center;
      width: 45px;
      height: 42px;
      padding: 9px;
      border: 1px solid #2b577a;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;

      &:hover {
        background-color: #2b577a;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: #2b577a;
        color: #fff;
      }
    }
  }
}
